
   
  <!-- Add your site or app content here -->
    <div class="full-container background-image-container white-text-container">
      <div  [@openClose]="isOpen ? 'open' : 'closed'" class="navbar">
        <div>
          <h3>Search Debounce</h3>
        </div>
        
      </div>
      <div class="container">
       
           <div class="cartel">
            <h1>Mountain</h1>
            <p>WELCOME TO ANGULAR SEARCH-DEBOUNCE WEBSITE. AGENCY IN BERLIN.</p>
            <br>
                <a routerLink="/search"  title="">Discover</a>

           </div>


          </div>

    </div>
    <div class="section-container">
      <div class="about">
        
         
            <div class="text-center">
              <h2>About Us</h2>
              <div class="texto-about" >
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus at sem quis varius. 
                  <br>
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis.
                   Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
              </div>
           
       
        </div>
      </div>
    </div>
    <section class="equipo">
      <h1>Equipo</h1>
      <div class="componentes">
        <div class="card">
          <img src="../../../assets/images/avatar2.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4> 
            <p>Architect & Engineer</p> 
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/images/img_avatar3.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4> 
            <p>Architect & Engineer</p> 
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/images/avatar2.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4> 
            <p>Architect & Engineer</p> 
          </div>
        </div>
      </div>
    </section>
    <footer>
      <br><br>
    <div class="footer-contenido">
      

      <div class="copiw">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
          <a href="#">Scanfcode</a>.
      </div>
         <div class="link">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
         </div>
    </div>
    </footer>